<div class="containter w-50 mx-auto p-2 mt-5">
  <h1 class="display-4">All events</h1>
  <ul class="list-group">
    <% for event in @events %>
      <li class="list-group-item list-group-item-dark"><%= link_to event.artist, "/events/#{event.id}", :class => 'text-dark' %></li>
    <% end %>
  </ul>

  <%= link_to 'New event', new_event_path, class: 'btn btn-primary mt-3' %>
</div>